.image-container {
    position: relative;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 15px 15px;
}

.bottom {
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}

.top {
    top: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
}